* {
    margin: 0;
    padding: 0;
}

.textOHolder {
    white-space: nowrap;
    margin-top: 1px;
}
.textO {
    position: relative;
    left: 0px;
    transition-duration: 10s;
    transition-timing-function: linear;
}
.textTHolder {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    width: 300px;
    overflow: hidden;
    border: 1px solid black;
}
.textT {
    display: block;
    position: relative;
    font-size: 1em;
    margin-top: 0;
    left: -201px;
    transition-duration: 10s;
    transition-timing-function: linear;
    color: aqua;
}

body:hover .textT{
    left: -1500px;
}
body:hover .textO{
    left: -1300px;
}